<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="APK_Signer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <APK_Signer.Properties.Settings>
            <setting name="jdk_path" serializeAs="String">
                <value />
            </setting>
            <setting name="adt_path" serializeAs="String">
                <value />
            </setting>
            <setting name="build_tools" serializeAs="String">
                <value />
            </setting>
            <setting name="url_donate_paypal" serializeAs="String">
                <value>https://www.paypal.me/andreasreitberger/5</value>
            </setting>
            <setting name="url_documentation" serializeAs="String">
                <value>https://shatter-box.com/knowledgebase/android-apk-signing-tool-v2-apksigner/</value>
            </setting>
            <setting name="build_tools_version" serializeAs="String">
                <value />
            </setting>
            <setting name="build_tools_version_min" serializeAs="String">
                <value>24.0.3</value>
            </setting>
            <setting name="app_version" serializeAs="String">
                <value>v2.0.6-beta</value>
            </setting>
            <setting name="app_author" serializeAs="String">
                <value>Andreas Reitberger</value>
            </setting>
            <setting name="app_build_date" serializeAs="String">
                <value>2020-03-24</value>
            </setting>
            <setting name="keytool_password_length" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="url_donate_shatterbox" serializeAs="String">
                <value>https://shatter-box.com/donate/</value>
            </setting>
            <setting name="app_logging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="app_logging_path" serializeAs="String">
                <value>Log\log.log</value>
            </setting>
            <setting name="url_ticket" serializeAs="String">
                <value>https://shatter-box.com/submit-ticket/</value>
            </setting>
            <setting name="url_forum" serializeAs="String">
                <value>https://shatter-box.com/forums/</value>
            </setting>
            <setting name="app_name" serializeAs="String">
                <value>APK Signer Tool (v2)</value>
            </setting>
        </APK_Signer.Properties.Settings>
    </userSettings>
</configuration>